{% extends "base.html.twig" %}
{% block title %}Home
{% endblock %}

{% block body %}
	<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
				<h1 class="mx-auto my-0 text-uppercase">SnowTricks</h1>
				<div class="text-white-50 mx-auto mt-5 mb-5 embed-responsive embed-responsive-16by9">

					<iframe width="300" height="200" src="https://www.youtube.com/embed/KoHzXi7Usl8" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>
				
				<div class="container-fluid mt-auto ">
					<a href="#home-tricks" class="js-scroll-trigger">
						<i class="fas fa-arrow-down fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</header>
	<!--Body-->
	<div id="bg-home-tricks">
		<div class="container" id="home-tricks">
			<div class="container-fluid text-center pt-3">
				<p class="text-white">Trier par catégorie !</p>
				<div>
					<span id="tous">
						<a href="#tous" class="badge badge-warning category">Tous</a>
					</span>
					<span id="grab">
						<a href="#grab" class="badge badge-warning category">Grab</a>
					</span>
					<span id="slide">
						<a href="#slide" class="badge badge-warning category">Slide</a>
					</span>
					<span id="rotation">
						<a href="#rotation" class="badge badge-warning category">Rotation</a>
					</span>
					<span id="flip">
						<a href="#flip" class="badge badge-warning category">Flip</a>
					</span>
					<span id="old-school">
						<a href="#old-school" class="badge badge-warning category">Old-School</a>
					</span>
				</div>
			</div>
			<div class="row text-justify ">
				{% for figure in figures %}

					<div class="col-lg-3 col-md-6 col-sm-12 gallery hidden">
						<div class="card mb-3 mt-5 {{figure.idCategory.nameCategory | lower}}">
							<div class="card-header">

								<a href="{{path('tricks', {'id' : figure.id})}}">
									<img src="{{figure.picture}}" alt="Photos de figure de snowboard" id="imgFiguresAccueil">
								</a>
								<p>
									<strong>{{figure.name}}</strong>
								</p>
								{% if app.user and app.user == figure.idAuthor %}								
								<p>
									<a href="">
										<i class="fas fa-pen"></i>
									</a>
									<a href="">
										<i class="fas fa-trash"></i>
									</a>
								</p>
								{% endif %}
							</div>
							<div class="card-body">
								{{figure.sentence}}...
							</div>
							<div class="card-footer text-center">
								<span class="badge badge-primary">
									{{figure.idCategory.nameCategory}}
								</span>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="container-fluid mt-auto mb-5">
				<a href="#home-tricks" class="js-scroll-trigger">
					<i class="fas fa-arrow-up fa-3x float-right"></i>
				</a>
			</div>
		</div>
		<div class="container-fluid text-center mb-5">
			<a href="#home-tricks" class="btn btn-info" id="loadMore">
				voir plus...
			</a>
		</div>

	</div>


{% endblock %}

{% block javascripts %}
	<script src="js/appHome.js"></script>
{% endblock %}
