{% extends "base.html.twig" %}
{% block title %}Tricks détail
{% endblock %}

{% block body %}
	<!-- Header -->
	<header class="masthead2">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
			{% include "partials/flash.html.twig" %}
				<h1 class="mx-auto my-0 text-uppercase">{{figure.name}}</h1>
				<div class="row d-flex justify-content-center mt-5">
					<p class="text-white">
						{{figure.contentTricks}}</p>
					<div class="container d-flex justify-content-center mt-5 row">
						<h3 class="badge badge-primary  ">
							Catégorie :
						</h3>
						<h3 class="badge badge-warning ">
							{{figure.idCategory.nameCategory}}
						</h3>
						<h3 class="badge badge-primary   ml-3">
							Création :
						</h3>
						<h3 class="badge badge-warning ">
							{{figure.addDate | date("d/m/Y")}}
						</h3>
						{% if figure.editDate %}
							<h3 class="badge badge-primary   ml-3">
								Modification :
							</h3>
							<h3 class="badge badge-warning ">
								{{figure.editDate | date("d/m/Y")}}
							</h3>
						{% else %}
							<h3 class="badge badge-primary   ml-3">
								Modification :
							</h3>
							<h3 class="badge badge-warning ">
								Jamais modifié !
							</h3>
						{% endif %}

					</div>

				</div>
				<div class="mt-3 d-flex justify-content-center row">
					{% for image in images %}
						<div class="col-md-3  ml-5 mt-2">

							<div class="text-white-50  img-fluid ">
								<a href="{{image.addressImg}}">
									<img src=" {{image.addressImg}} " alt="photos de figures" id="image">
								</a>
							</div>
						</div>
					{% endfor %}
					{% for video in videos %}
						<div class="col-md-3 mt-2 ml-5 embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315" src="{{video.addressVid}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					{% endfor %}
				</div>


		
			</div>

		</div>

	</header>

	<body class="">
		<div id="bg-comments-tricks">
			{% if app.user %}
				<h1 class=" text-white text-center p-2">
					<i class="fas fa-snowboarding"></i>
					<strong>EXPRIMEZ VOUS SUR CE TRICKS !</strong>
					<i class="fas fa-snowman"></i>
				</h1>
				<div class="container mt-3 form-group text-white">
					{{form_start (form) }}
					{{form_widget (form) }}
					<button type="submit" class="btn btn-info btn-sm mt-3 mx-auto d-block ">Poster</button>
					{{form_end (form) }}
				</div>
			{% endif %}
			<div class="container">
				<div class="row">
					{% for comment in comments %}
						<div class="col-md-12 mt-3 comments hidden">
							<div class="card">
								<div class="card-header bg-dark text-white">
									<img src="/img/imgProfile/{{comment.idAuthor.imgProfile}}" alt="" id="imgProfile">
									{{comment.idAuthor.username}}
									le,
									{{comment.dateComment | date ("d/m/Y à H:i:s", "Europe/Paris")}}
								</div>
								<div class="card-body bg-light">
									{{comment.contentComment}}
								</div>

							</div>
						</div>
					{% endfor %}
					<div class="container-fluid text-center mb-3 mt-3">
						<a href="#home-tricks" class="btn btn-info" id="loadMore">
							voir plus...
						</a>
					</div>
				</div>

			</div>
		</div>
		{# Modal #}


	</body>

{% endblock %}

{% block javascripts %}
	<script src="/js/appComment.js"></script>
{% endblock %}
